$font-color: #000000;
$font-color-second: #ffffff;
$main-color: #fe6637;
$main-color-light: #fe6637a8;

$bg-color-table: #b1b1b187;
$border-color-table: #73737380;

$bg-color-btn: #ffffff;
$btn-color-shadow: #0000001a;

$border-warning:#ff002f;
$border-warning-second:#ff0073;