@import './../../style/vars.scss';

.table {
    display: grid;
    max-width: 80%;
    margin: 50px auto;
    padding: 0 5%;

    background-color: $bg-color-table;
    border-radius: 3%;
    border: 1px solid $border-color-table;

    &__word {

        color: $font-color;
    }

    &__title {
        padding: 2%;

        font-weight: bolder;
        color: $main-color;
    }

    &__error {
        padding: 1%;
        margin: 1%;

        background: radial-gradient(circle, rgba(255, 118, 152, 1) 0%, rgba(227, 154, 113, 1) 100%);
        border: 2px solid $border-warning;

        color: $font-color-second;
        text-align: center;

        .warning {
            color: $border-warning;
        }

        .context {
            color: $font-color;
            text-decoration: underline;
        }

        div {
            margin: 1%;
        }
    }

    &__string {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2%;

        border-bottom: 1px dotted $border-color-table;

        &:first-child {
            border-bottom: 1px solid $font-color;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}